/* global */
@font-face {
	font-family: "FiraMono-Regular";
	src: url("./assets/fonts/FiraMono-Regular.otf"), format("opentype")
}

@font-face {
	font-family: "FiraMono-bold";
	src: url("./assets/fonts/FiraMono-Bold.otf"), format("opentype")
}

.body {
	font-family: 'FiraMono-Regular', Courier;
	margin: 0px;
}

.link {
	transition-duration: 400ms;
	color: black;
	text-decoration: none;
	padding: 1vh;
	display: inline;
}

.link:hover {
	border-radius: 1vh;
}

/* header */
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2vh;
	padding-left: 15vw;
	padding-right: 15vw;
	font-size: 3vh;
}

.headerPart {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1vw;
}

.headerLogo {
	height: 4vh;
}

.headerlink:hover {
	background-color: #dad4d4;
}

/* motivating */

.motivating {
	background-color: #403f4c;
	/* 100wv - pading*2 */
	width: calc(70vw);
	/* beacause ??? user agent add 8px of margin for body */
	margin-left: -8px;
	padding: 2vh;
	padding-left: 15vw;
	padding-right: 15vw;
	color: white;
}

.motivatingTitle {
	font-size: 7vh;
}

.motivatingText {
	font-size: 3vh;
	line-height: 5vh;
}

.motivationSignature {
	font-size: 4vh;
	font-family: "FiraMono-Bold";
	display: inline;
}

.github {
	color: white;
	text-decoration: none;
}

/* contributor */
.contributor {
	padding-left: 15vw;
	padding-right: 15vw;
}

.contributorLogoBox {
	width: 70vw;
	display: flex;
	justify-content: center;
	gap: 2vh;
}

.contributorLogo {
	border-radius: 50%;
	width: 8vw;
}

.contributorlogolink {
	width: 10vw;
	height: 10vw;
	text-align: center;
}

.contributorlogolink:hover {
	background-color: #dad4d4;
}

.contributorGrade {
	font-family: 'FiraMono-Bold';
	color: #1a1acd;
}