/* global */
@font-face {
	font-family: "FiraMono-Regular";
	src: url("./assets/fonts/FiraMono-Regular.otf"), format("opentype")
}

@font-face {
	font-family: "FiraMono-bold";
	src: url("./assets/fonts/FiraMono-Bold.otf"), format("opentype")
}

body {
	font-family: 'FiraMono-Regular', Courier;
	margin: 0px !important;
}

.link {
	transition-duration: 400ms;
	color: black;
	text-decoration: none;
	padding: 1vh;
	display: inline;
}

.link:hover {
	border-radius: 1vh;
}

/* header */
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2vh;
	padding-left: 15vw;
	padding-right: 15vw;
	font-size: medium;
}

.headerPart {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1vw;
}

.headerLogo {
	height: 4vh;
}

.headerlink:hover {
	background-color: #dad4d4;
}

/* motivating */

.goodby {
	height: 70vh;
	width: 99vw;
	font-size: xx-large;
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	background: #C04848;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #480048, #C04848);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #480048, #C04848);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.thaks {
	height: 70vh;
	width: 99vw;
	color: black;
}

.thaksTitle {
	font-size: xx-large;
	display: flex;
	align-items: center;
	justify-content: center;
}

.thaksUserContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4vmax;
}

.users {
	position: relative;
	width: 65vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2vh;
}

.userBox {
	display: flex;
	align-items: center;
	gap: 1vh;
	padding: 1vh;
	border-radius: 1vh;
	transition-duration: 300ms;
}

.userBox:hover {
	background-color: #4800487c;
}

.userImage {
	border-radius: 50%;
	height: 20vh;
	width: 20vh;
	box-shadow: -4px -3px 90px 1px rgba(0, 0, 0, 0.35);
}

.userPsedo {
	font-size: larger;
	font-family: "FiraMono-bold";
}

.userRole {
	font-size: small;
}