/* global */
@font-face {
	font-family: "Fira Mono";
	src: url("assets/fonts/FiraMono-Regular.otf")
}

@font-face {
	font-family: "Fira Mono Bold";
	src: url("assets/fonts/FiraMono-Bold.otf")
}

body {
	font-family: 'Fira Mono', 'Courier New';
	margin: 0 !important;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: black;
	overflow-x: hidden;
}

.link {
	color: black;
	text-decoration: none;
	transition-duration: 300ms;
	padding: 1vh;
}

/* header */
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2vh;
	font-size: medium;
	width: 90vw;
}

.headerPart {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1vw;
}

.headerLogo {
	height: 4vh;
}

.headerLink {
	padding: 2vh;
	border-radius: 1vh;
}

.headerLink:hover {
	background-color: #D9D9D9;
}

/* motivating */

.goodbye {
	height: 70vh;
	width: 99vw;
	font-size: 5vmax;
	text-align: center;
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	background: #004ACB;
	background: -webkit-linear-gradient(70deg, #004ACB, #AF002C);
	background: linear-gradient(70deg, #004ACB, #AF002C);
}

.thanks {
	color: black;
	width: 80vw;
	display: flex;
	flex-direction: column;
	gap: 5vh;
	align-items: center;
	padding: 10vh 0;
}

.thanksTitle {
	font-size: 2.5vmax;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
	text-align: center;
	font-family: 'Fira Mono Bold';
}

.thanksUserContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 4vmax;
}

.userBox {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	gap: 1vh;
	padding: 5vmin 5vmax;
	border-radius: 1vh;
	transition-duration: 300ms;
}

.userBox:hover {
	background-color: #D9D9D9;
}

.userImage {
	border-radius: 50%;
	height: 10vmax;
	width: 10vmax;
	box-shadow: -4px -3px 90px 1px rgba(0, 0, 0, 0.35);
	background-color: white;
}

.userPseudo {
	font-size: 2vmax;
	font-family: "Fira Mono Bold";
}

.userRole {
	font-size: 1.5vmax;
}

.about {
	width: 99vw;
	padding: 10vh 0;
	display: flex;
	gap: 5vh;
	flex-direction: column;
	align-items: center;
	color: white;
	background: #007450;
	background: -webkit-linear-gradient(120deg, #007450, #CA9754);
	background: linear-gradient(120deg, #007450, #CA9754);
}

.aboutTitle {
	font-size: 2.5vmax;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.aboutText {
	width: 60vw;
	padding: 2vh 0;
	text-align: justify;
}

@media ((aspect-ratio <1) or (orientation: portrait)) {
	.aboutText {
		width: 95vmin;
	}

	.about,
	.goodbye {
		width: 100vmin;
	}

	.headerLink,
	.headerName {
		font-size: 2vmax;
	}

	.thanksTitle {
		font-size: 7vmin;
	}

	.thanksUserContainer {
		flex-direction: column;
	}

	.userImage {
		width: 20vmax;
		height: 20vmax;
	}
}